cite{
	margin-top: -30px;
	font-size:10px;
	text-align: center;
	color: #666;
}

.page-inner ul, .page-inner ol {
	margin-bottom:15px !important;
}

small{
	font-size:10px;
}

pre {
  word-break: break-all;
  /* Non standard for webkit, but it does work on the Mac when generating the PDF */
  word-break: break-word;
}

h1 {
    margin-top: 0;
    padding:0;
}